In [5]:
# groping

# 3 proses : splitting | applying | combining

import pandas as pd
import numpy as np

df = pd.DataFrame([
    ('bird', 'falconiformes', 400.2),
    ('bird', 'psittaciformes', 200.0),
    ('ampibi', 'carnifora', 40.3),
    ('ampibi', 'omnifora', 30.1)],
    index=['gagak', 'hantu','kura-kura', 'siput'],
    columns = ('class', 'order', 'max_speed'))
df

            class           order  max_speed
gagak        bird   falconiformes      400.2
hantu        bird  psittaciformes      200.0
kura-kura  ampibi       carnifora       40.3
siput      ampibi        omnifora       30.1

In [6]:
df.groupby('class')

In [7]:
df.groupby('class').mean()

        max_speed
class
ampibi       35.2
bird        300.1